.App {
  background-color: lavender;
  min-height: 100vh;
  font-family: Lato
}

.menu {
  top: 5px;
  right: 10vw;
  background-color: #d3d3e6;
  box-shadow: 0 0 10px 10px #d3d3e6;
  min-height: 5px;
  min-width: 20px;
  float: left;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu-item {
  font-family: Lato;
  background-color: transparent;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin: 5px;
}

.menu-item-div:hover {
  font-weight: bold;
}

#menu-btn {
  cursor: pointer;
  height: 60px;
  float: right;
}

.main {
  padding-top: 10vh;
  clear: both;
  padding-left: 15%;
}

.hidden {
  display: none;
}

.form > .col1 {
  width: 15%;
  float: left;
  display: block;
}

.form > .col2 {
  float: left;
  width: 30%;
}

.col1 > p {
  height: 1.5em;
}

.col1 > button {
  margin-top: 40%;
}

.col2 > p {
  height: 1.5em;
}

.form > h2 {
  padding-bottom: 5%;
}